* {
    padding: 0;
    margin: 0;
}
html{
    overflow: hidden;
}
body {
    font-size: 10px;
    overflow: hidden;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: rgb(14, 13, 13);
    position: relative;
}

/* CLOCK BOX */
.clockBox {
    width: 28.8rem;
    height: 28.8rem;
    background-color: rgb(128, 186, 202);
    box-shadow: 0 0 .3rem rgb(128, 186, 202), 0 0 .5rem rgb(128, 186, 202), inset 0 0 .3rem rgb(0, 0, 0), inset 0 0 .5rem rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    border-radius: 150%;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}
.box1 {
    width: 100%;
    height: 50%;
}

.outputBox {
    width: 85%;
    height: 100%;
    align-items: last baseline;
}

#password {
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

.output {
    width: 75%;
    height: 20%;
    background-color: aliceblue;
    border-radius: .4rem;
    border: .08rem solid black;
    margin-bottom: 5%;
}

.copyBox {
    width: 30%;
    height: 100%;
    align-items: last baseline;
    margin-bottom: 9%;
    justify-content: left
}

#cp {
    width: 4.4rem;
    background-color: rgb(0, 151, 164);
    border: none;
    height: 1.8rem;
    border-radius: .2rem;
    color: aliceblue;
}

#cp:hover {
    background-color: rgb(52, 54, 86);
    font-variant: small-caps;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.box2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.btnGen {
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 3% 3%;
    margin-top: 4%;
    color: aliceblue;
    border-radius: .4rem;
    border: none;
    background-color: rgb(0, 35, 63);
}

.btnGen:hover {
    cursor: pointer;
    width: 8.3rem;
    height: 2.3rem;
    transition: all 0.15s ease-in-out;
    background-color: bisque;
    color: black;
}

@media (min-width:900px) {

    .main {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    /* CLOCK BOX */
    .clockBox {
        width: 32.8rem;
        height: 32.8rem;
    }
    #password {
        font-size: 1.6rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .output {
        width: 80%;
        height: 20%;
    }
    #cp {
        width: 5rem;
        height: 2rem;
        border-radius: .2rem;
        margin-bottom: 5%;
    }
    .box2 {
        width: 100%;
        height: 50%;
    }

    .btnGen {
        width: 8rem;
        height: 2.6rem;
        font-size: 1.4rem;
    }

    .btnGen:hover {
        width: 8.3rem;
        height: 2.3rem;
    }
}
@media (min-width:701px) and (max-width:900px) {

    .main {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    /* CLOCK BOX */
    .clockBox {
        width: 32.8rem;
        height: 32.8rem;
    }
    #password {
        font-size: 2.1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .output {
        width: 80%;
        height: 20%;
    }
    #cp {
        width: 6rem;
        height: 1.8rem;
        margin-bottom: 5%;
    }
    .box2 {
        width: 100%;
        height: 50%;
    }

    .btnGen {
        width: 8.5rem;
        height: 2.6rem;
        font-size: 1.3rem;
    }

    .btnGen:hover {
        width: 8.8rem;
        height: 2.7rem;
    }
}
@media (min-width:365px) and (max-width:700px) {

    .main {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    /* ROTATING BOXES  */
    .decoBox01 {
        width: 22rem;
        height: 19rem;
    }

    /* CLOCK BOX */
    .clockBox {
        width: 21.8rem;
        height: 21.8rem;
    }
    #password {
        font-size: 1.1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .output {
        width: 85%;
        height: 20%;
    }
    #cp {
        width: 4rem;
        margin-bottom: 1%;
        height: 1.8rem;
        font-size: 0.9rem;
    }
    .box2 {
        width: 100%;
        height: 50%;
    }

    .btnGen {
        width: 8rem;
        height: 1.7rem;
    }

    .btnGen:hover {
        width: 8.3rem;
        height: 1.85rem;
    }
}
@media (max-width:364px) {

    .main {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    /* ROTATING BOXES  */
    .decoBox01 {
        width: 18rem;
        height: 16.2rem;
    }

    /* CLOCK BOX */
    .clockBox {
        width: 15.8rem;
        height: 15.8rem;
    }
    #password {
        font-size: 1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .output {
        width: 80%;
        height: 20%;
    }
    #cp {
        width: 2.4rem;
        height: 1.2rem;
        font-size: 0.6rem;
    }
    .box2 {
        width: 100%;
        height: 50%;
    }

    .btnGen {
        width: 4rem;
        height: 1.2rem;
        font-size: 0.7rem;
    }

    .btnGen:hover {
        width: 4.2rem;
        height: 1.35rem;
    }
}